nav {
    background-color: #2a4ba0;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  #search_input {
    background-color: #153075;
    border: 1px solid #153075;
    width: 30%;
    padding: 1rem;
    border-radius: 30px;
    outline: none;
    color: #fff;
  }
  ::-webkit-input-placeholder {
    color: #5e6e98;
  }
  .icon_container{
    display: flex;
    gap:2rem
    
  }
  #favorite_icon {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 4px;
    cursor: pointer;
  }
  .cart-icon {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media screen and (max-width: 400px) {
      #search_input {
          margin: 6rem 0 1px 0;
          width: calc(100% - 2rem);
        }
    #logo {
      position: absolute;
      left: 1rem;
      top: 0.5rem;
      width: 20%;
    }
    .cart-icon {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }
    #favorite_icon {
      display: none;
        }
  }
  @media screen and (min-width: 401px) and (max-width: 600px) {
    #search_input {
      margin: 6rem 0 1px 0;
      width: calc(100% - 2rem);
    }
    #logo {
      position: absolute;
      left: 1rem;
      top: 0.5rem;
      width: 15%;
    }
    .cart-icon {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }
    #favorite_icon {
display: none;
  }
}