nav {
  background-color: #2a4ba0;
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
nav h2 {
  color: white;
}
#search_input {
  background-color: #153075;
  border: 1px solid #153075;
  width: 40%;
  padding: 1rem;
  border-radius: 30px;
  outline: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

::-webkit-input-placeholder {
  color: #5e6e98;
  
}
#search_input input {
  background-color: #153075;
  border: 1px solid #153075;
  width: 80%;
   border-radius: 30px;
  outline: none;
  color: #fff;
  z-index: 1;
}
#search_icon {
  font-size: 1.3rem;
}
.icon_container {
  display: flex;
  gap: 2rem;
}
#favorite_icon {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 4px;
  cursor: pointer;
}
.fav_badge_icon {
  position: relative;
}
#fav_badge {
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 12px;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #f9b023;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_badge_icon {
  position: relative;
  cursor: pointer;
}
.cart_badge_icon img {
  width: 1.2rem;
}
#cart_badge {
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 12px;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #f9b023;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 300px) {
  #search_input {
    margin: 6rem 0 1px 0;
    width: calc(100% - 2rem);
  }
  nav h2 {
    position: absolute;
    left: 2rem;
    top: 1rem;
    font-size: 2.5rem;
  }
  .cart_badge_icon {
    position: absolute;
    right: 3rem;
    top: 2rem;
  }
  .cart_badge_icon img {
    width: 2rem;
  }
  #cart_badge {
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 12px;
    width: 1.8rem;
    height: 1.8rem;
    background-color: #f9b023;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fav_badge_icon {
    display: none;
  }
}
@media screen and (min-width: 301px) and (max-width: 400px) {
  #search_input {
    margin: 6rem 0 1px 0;
    width: calc(100% - 2rem);
  }
  nav h2 {
    position: absolute;
    left: 2rem;
    top: 1rem;
    font-size: 2.5rem;
  }
  .cart_badge_icon {
    position: absolute;
    right: 3rem;
    top: 2rem;
  }
  .cart_badge_icon img {
    width: 1.5rem;
  }

  .fav_badge_icon {
    display: none;
  }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
  #search_input {
    margin: 6rem 0 1px 0;
    width: calc(100% - 2rem);
  }
  nav h2 {
    position: absolute;
    left: 2rem;
    top: 1rem;
    font-size: 2.5rem;
  }
  .cart_badge_icon {
    position: absolute;
    right: 3rem;
    top: 2rem;
  }
  .cart_badge_icon img {
    width: 1.7rem;
  }
  #cart_badge {
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 12px;
    width: 1.4rem;
    height: 1.4rem;
    background-color: #f9b023;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fav_badge_icon {
    display: none;
  }
}
